1. Write an SQL query to print the first three characters of FIRST_NAME from Worker table.
Answer:

SELECT SUBSTRING(FIRST_NAME,1,3) FROM worker;

2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.
Answer:

SELECT POSITION("a" IN first_name) FROM worker WHERE first_name = "Amitabh";

3. Write an SQL query to print the name of employees having the highest salary in each department.
Answer:

SELECT
where w.department = s.department and w.salary = s.salary;

select * from worker order by salary desc:
4 Amitabh Singh 500000 2014-02-20 09:00:00 Admin
5 Vivek Bhati 500000 2014-06-11 09:00:00 Admin
3 Vishal Singhal 300000 2014-02-20 09:00:00 HR
6 Vipul Diwan 200000 2014-06-11 09:00:00 Account
1 Monika Arora 100000 2014-02-20 09:00:00 HR
8 Geetika Chauhan 90000 2014-04-11 09:00:00 Admin
2 Niharika Verma 80000 2014-06-11 09:00:00 Admin
7 Satish Kumar 75000 2014-01-20 09:00:00 Account

Output of answer given above:
HR Vishal
Admin Amitabh
Admin Vivek
Account Vipul

*NOTE: both Amitabh and Vivek have 500000 salary which is highest in Admin department