In [ ]:
1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side

SELECT RTRIM(FIRST_NAME) FROM worker;

In [ ]:
2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

SELECT DISTINCT DEPARTMENT, LENGTH(DEPARTMENT) AS departmentNameLength FROM worker;

In [ ]:
3. Write an SQL query to fetch nth max salaries from a table.

SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT 5,1;

where n = 5

OR

SELECT SAL FROM( SELECT ROWNUM SLNO,SAL FROM (SELECT DISTINCT SAL FROM EMP ORDER BY SAL DESC)) WHERE SLNO=5;