In [ ]:
1. Write an SQL query`m to print details of the Workers who have joined in Febâ€™2014.

Select * from Worker where year(DateOfJoining) = 2014 and month(DateOfJoining) = 2;

OR

select * from worker where hire_date between '2014-02-01' and '2014-02-28' order by hire_date;

In [ ]:
2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

SELECT gender, department, COUNT() FROM worker GROUP BY gender, department HAVING COUNT() > 1;

In [ ]:
3. How to remove duplicate rows from worker table.

DELETE c1 FROM worker c1
INNER JOIN worker c2
WHERE
c1.salary > c2.salary AND
c1.LAST_NAME = c2.LAST_NAME